:root {
    --main-bg-color1: #101010;
    --main-bg-color2: #101010;
    --main-bg-color3: #101010;
    --main-text-color: greenyellow;
  }

html, body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-family: 'IBM Plex Mono', monospace;
}

.app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

ul {
    list-style: none;
}

#main-title {
    font-size: 20px;
}
    
.header {
    padding: 0px;
    background-color: var(--main-bg-color1);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickers {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.crypto-ticker {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 250px;
    max-height: 70px;
    padding: 10px;
    border: 1px solid greenyellow;
    border-radius: 4px;
}

.c {
    color: yellow;
}

.body {
    background-color: var(--main-bg-color2);
}

.footer {
    background-color: var(--main-bg-color3);
}

