<!-- HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=§, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
    <title>Crypto-Tracker-v4</title>
</head>
<body>
    <div class="app">
        <div id="header" class="header">
            <ul>
                <li v-if="loaded" v-for="crypto in cryptos">
                    <crypto :crypto="crypto"></crypto>
                </li>
                <span v-if="cryptos.length===0"> NO CRYPTOS FETCHED</span>
            </ul>
            <h4 v-if="loaded"> TOTAL USD: {{ totalUSD }}</h4>
        </div>
        <div class="body"></div>
        <div class="footer"></div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/main.js"></script>
</body>
</html>

