.marker {
    width: 70px;
    background-color: lightgoldenrodyellow;
    border: 1px solid #999;
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    padding: 4px;
}

.marker.selected {
    background-color:yellow;
    border-color: orangered; 
}