/* APP CSS */

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.header {
  background-color: lightblue;
}

.body {
  background-color: lightgoldenrodyellow;
}

.footer {
  background-color: lightpink;
}